@media screen and (max-width: 830px) {
  #img-div {
    margin: 55px 0 0 0;
  }
  .subtitle {
    padding: 0;
  }
}
@media screen and (max-width: 750px) {
  .stanislav-title {
    font-size: 62px;
  }
  #img-caption {
    font-family: 1.5em;
    position: static;
    max-width: 100%;
  }
  .subtitle {
    float: none;
    padding: 0 20px;
    text-align: center;
  }
}
@media screen and (max-width: 660px) {
  .stanislav-title {
    font-size: 52px;
    margin: 0;
  }
}
